// Rocket Design System Spacing

// SPACE Variables
$rds-space-xxs: 0.5rem;
$rds-space-xs: 1rem;
$rds-space-sm: 1.5rem;
$rds-space-md: 2rem;
$rds-space-lg: 3rem;
$rds-space-xl: 4rem;
$rds-space-xxl: 6rem;
$rds-space-xxxl: 8rem;

// Grid columns
$grid-gutter-width: 30px;

// Spacing
//
// control the default styling of most of elements
$spacers: (
  'gutter': $grid-gutter-width / 2,
  'space-xxs': $rds-space-xxs,
  'space-xs': $rds-space-xs,
  'space-sm': $rds-space-sm,
  'space-md': $rds-space-md,
  'space-lg': $rds-space-lg,
  'space-xl': $rds-space-xl,
  'space-xxl': $rds-space-xxl,
  'space-xxxl': $rds-space-xxxl

/*
  VANILLA BOOTSTRAP VARIABLES

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);
*/
