// Rocket Design System Spacing

// SPACE Variables
$rds-space-xxs: 0.5rem;
$rds-space-xs: 1rem;
$rds-space-sm: 1.5rem;
$rds-space-md: 2rem;
$rds-space-lg: 3rem;
$rds-space-xl: 4rem;
$rds-space-xxl: 6rem;
$rds-space-xxxl: 8rem;

// Grid columns
$grid-gutter-width: 30px;

// Spacing
//
// control the default styling of most of elements
$spacers: (
  'gutter': $grid-gutter-width / 2,
  'space-xxs': $rds-space-xxs,
  'space-xs': $rds-space-xs,
  'space-sm': $rds-space-sm,
  'space-md': $rds-space-md,
  'space-lg': $rds-space-lg,
  'space-xl': $rds-space-xl,
  'space-xxl': $rds-space-xxl,
  'space-xxxl': $rds-space-xxxl
);
