
// Typography
//
// Font, line-height, and color for body text, headings, and more.

// Font
$font-family-sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;

$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

// Headings
// bootstrap overridess
$headings-line-height: 1.2;
$headings-font-weight: 900;

// h1 class
/* Extra-small, small and Medium devices */
.h1-small {
  font-size: 24px;
}
.h1-medium {
  font-size: 30px;
}
.h1-large {
  font-size: 36px;
}
.h1-xl {
  font-size: 56px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .h1-small {
    font-size: 36px;
  }
  .h1-medium {
    font-size: 48px;
  }
  .h1-large {
    font-size: 56px;
  }
  .h1-xl {
    font-size: 72px;
  }
}

// h2 styles
/* Extra-small, small and Medium devices */
.h2-small {
  font-size: 18px;
}
.h2-medium {
  font-size: 24px;
}
.h2-large {
  font-size: 30px;
}
.h2-xl {
  font-size: 34px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .h2-small {
    font-size: 24px;
  }
  .h2-medium {
    font-size: 36px;
  }
  .h2-large {
    font-size: 48px;
  }
  .h2-xl {
    font-size: 60px;
  }
}

// h3 styles
/* Extra-small, small and Medium devices */
.h3-small {
  font-size: 16px;
}
.h3-medium {
  font-size: 18px;
}
.h3-large {
  font-size: 24px;
}
.h3-xl {
  font-size: 30px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .h3-small {
    font-size: 18px;
  }
  .h3-medium {
    font-size: 21px;
  }
  .h3-large {
    font-size: 24px;
  }
  .h3-xl {
    font-size: 36px;
  }
}

// Texts
.text-xs {
  font-size: 12px;
  line-height: 1.4;
}
.text-small {
  font-size: 14px;
  line-height: 1.4;
}
.text-medium {
  font-size: 16px;
  line-height: 1.4;
}
.text-large {
  font-size: 18px;
  line-height: 1.4;
}
.text-xl {
  font-size: 24px;
  line-height: 1.4;
}
